html, body {
  height: 100%;
  overflow-y: scroll;
}

#application {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

#application .color-pallete .color {
  margin: 1px 2px 2px 5px
}

.container {
  margin-top: 80px;
}

canvas {
  background: grey;
  cursor: pointer;
  width: 1614px;
  height: 1614px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.color-pallete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .2s ease;
  border: 1px solid black;
}

.color.active {
  width: 50px;
  height: 50px;
}
.color:hover {
  opacity: 0.8;
}

.current_address {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: none;
}

nav {
  z-index: 10000;
  position: fixed;
  background: #26a69a;
}

nav ul {
  float: right;
}

.nav-wrapper .primary {
  margin-left: 20px;
}

.logo {
  height: 50px;
  width: 50px;
  margin: 0px 10px;
}
